<h2 class="text-center">Welcome to your World!</h2>
<img id="homeImage" src="~/Resources/sky-earth-galaxy-universe.jpg" alt="Earth" />
<h4 class="text-center">Choose from the left menu to begin exploring!</h4>